.topLine {
  width: 100%;
  border: 1px solid #eaeaea;
  margin: 0 0 114px 0;
}

.Cart {
  max-width: 1420px;
  width: 100%;
  margin: 50px auto 0;

  h1 {
    font-size: 36px;
    margin: 0 0 50px 0;
    text-align: left;
  }

  p {
    font-size: 28px;
    margin-bottom: 20px;
  }
}

.basketOverview {
  width: 388px;
  height: 100%;
  padding: 26px 55px 43px 28px;
  background-color: #fafafa;
}

h5 {
  font-size: 36px;
  margin-bottom: 42px;
  text-align: center;
}

.bottomLine {
  width: 305px;
  border: 0.5px solid #00000050;
  margin-bottom: 5px;
  margin-top: 23px;
}

.cartSummary p {
  font-size: 24px;
  color: #666666;
  margin-bottom: 41px;
}

.totalLabel {
  font-size: 14px;
  color: #2d2d2d;
  font-weight: bold;
}

.totalAmount {
  margin: 12px 0 0 0;
  font-weight: bold;
  font-size: 24px;
  color: #000000;
}

.cartContainer {
  display: flex;
  justify-content: start;
  gap: 129px;
  margin-bottom: 635px;
}

.cartItems {
  flex: 1;
}
